@import url('https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&display=swap');

body {
  margin: 0 auto;
  max-width: 900px;
  font-family: "Delius Swash Caps", cursive;
  font-weight: 400;
  font-style: normal;
}

nav a.active {
  background-color: #eee;
}

.nav {
  display: flex;
  list-style-type: none;
  list-style: none;
  margin: 0;
  padding: 0;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);

}

nav a {
  text-decoration: none;
  display: inline-block;
  padding: 1rem;
}

.main {
  padding: 1rem;
}


.card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}


.card li {
  list-style-type: none;
  list-style: none;
  width: 250px;
  padding: 1em;
  margin: 1em;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: solid 1px gray;
  margin-top: 1em;

}


.email {
  font-size: 12px;
}